
// Base styles
@import 'base/index';

// Modules
@import 'modules/index';

.Button {
  &:hover {
    background-color: $secondary !important;
  }
}

.main_container {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $background;

  .header_container {
    position: fixed;
    z-index: 10;
    top: 0;
    height: 64px;
    width: 100%;
    padding: .65rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: $primary;
    color: $black_primary;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  .body_container {
    position: relative;
    top: 64px;
    padding: 1rem 1rem 1.5rem;
  }
}


