@import '../styles/base/mixins';

.content {
  padding: .75rem;
  display: grid;
  grid-template-rows: repeat(2);
  grid-gap: 1.5rem;

  .filters {
    padding: 1rem;
  }

  .table_personas {
    padding: 1rem;
  }
}

.form_personas {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}